.menucontainer{
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    font-family: "Poppins" !important;
}