.buttoncontainer{
    display: flex;
    justify-content: space-between;
}

.qmenucontainer{
    padding-top: 5em;
    padding-bottom: 5em;
}

.segmentcontainer{
    border: none !important;
    font-size: 1rem;
}

p{
    font-family: 'Poppins';
    font-size: 14px;
}

.prevbutton1{
  display: none !important;
}

.button{
    color: #fff !important;
    background-color: #2000ff !important;
}

.question{
    font-weight: 700;
    font-family: Poppins;
}